<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigML</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type='text/javascript'>

        //socket is global
        const socket = io.connect();
        
        function initSocket() {

            socket.on('Model', function (msg) { 
                alert(msg);
            });

        }

        function train() {
            socket.emit('Train', "msg");
        }
    
        function predict(value) {
            socket.emit('Predict', value);
        }

        
    </script>

</head>
<body>
    <body onload="initSocket()">

        <img src="./public/bigml.png" alt="bigml">
        <br>
        <h1>Predicting the topic of conversation</h1>
        <br>
        <h3 id="call"></h3>
        <br>
        <h3 id="predict"></h3>
        <button onclick="train()">Create new model</button>
        <button onclick="predict()">Predict</button>

        <script type='text/javascript'>

            socket.on('NewCall', function (msg) { 
                document.getElementById('call').innerHTML = 
                'Current call: First Name: ' + msg.firstname + ' | Last Name: ' + msg.lastname + ' | Phone: '+ msg.phone
                + ' | City: ' + msg.city + ' | Gender: ' + msg.gender + ' | Age: '+ msg.age + ' | Previus calls: ' + msg.prevcalls;
            });

            socket.on('Prediction', function (msg) { 
                document.getElementById('predict').innerHTML = 'The topic is: ' + msg;
            });

        </script>
    </body>
</body>
</html>