<!DOCTYPE html>
<html lang="en">

<head>
	<title>Prediction Table</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	
	
	<script type='text/javascript'>
	
        //socket is global
        const socket = io.connect();
        
        function initSocket() {

            socket.on('Model', function (msg) { 
                alert(msg);
            });

        }

        function train() {
            socket.emit('Train', "msg");
        }
    
        function predict(value) {
            socket.emit('Predict', value);
        }

        
    </script>
	<!--===============================================================================================-->
</head>

<body>
	<img src="./images/bigml.png" alt="bigml">
	<h1>Predicting the topic of conversation</h1>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- <h3 id="call"></h3> -->
	<br>
	<!--===============================================================================================-->
	<body onload="initSocket()">
		
		  <div class="d-grid gap-2 d-md-block">
			<button class="model" type="button" onclick="train()">Create a new model</button>
			<button class="predict" type="button" onclick="predict()">Predict</button>
		  </div>
		  <br>
		  <br>

		<script type='text/javascript'>
            socket.on('NewCall', function (msg) {

				document.getElementById("column2").innerHTML = msg.firstname;
				document.getElementById("column3").innerHTML = msg.lastname;
				document.getElementById("column4").innerHTML = msg.phone;
				document.getElementById("column5").innerHTML = msg.city;
				document.getElementById("column6").innerHTML = msg.gender;
				document.getElementById("column7").innerHTML = msg.age;
				document.getElementById("column8").innerHTML = msg.prevcalls;

                // document.getElementById('call').innerHTML = 
                // 'Current call: First Name: ' + msg.firstname + ' | Last Name: ' + msg.lastname + ' | Phone: '+ msg.phone
                // + ' | City: ' + msg.city + ' | Gender: ' + msg.gender + ' | Age: '+ msg.age + ' | Previus calls: ' + msg.prevcalls;
            });

            socket.on('Prediction', function (msg) {
				document.getElementById("topic").innerHTML = msg;
            });

        </script>
    </body>
	<!--===============================================================================================-->
	

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">

				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column2">First Name</th>
								<th class="column3">Last Name</th>
								<th class="column4">Phone</th>
								<th class="column5">City</th>
								<th class="column6">Gender</th>
								<th class="column7">Age</th>
								<th class="column8">Prev calls</th>
								<th class="column9">Topic</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="column2" id="column2">-</th>
								<th class="column3" id="column3">-</th>
								<th class="column4" id="column4">-</th>
								<th class="column5" id="column5">-</th>
								<th class="column6" id="column6">-</th>
								<th class="column7" id="column7">-</th>
								<th class="column8" id="column8">-</th>
								<th class="column9-data" id="topic">-</th>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>

</html>