<h6 class="ms-2 mt-4 mb-0"> Average Waiting Time For Calls</h6>
<p class="text-sm ms-2">In the last 10 minutes </p>
<div class="container border-radius-lg">
  <div class="row">
    <div class="col-3 py-3 ps-0">
      <div class="d-flex mb-2">

      </div>
      <h4 class="font-weight-bolder" id="averageTotalTime">0</h4>
      <p class="text-xs mt-1 mb-0 font-weight-bold">Minutes</p>
    </div>

  </div>
</div>