<div>
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>

    var join = 300
    var service = 50
    var complaint = 100
    var leave = 20

    const data = {
      labels: [
        'Join',
        'Service',
        'Complaint',
        'Leave'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100, 20],
        backgroundColor: [
        'rgb(50,205,50)', // green
          'rgb(54, 162, 235)', // blue
          'rgb(255, 205, 86)', // yellow
          'rgb(255, 99, 132)' // light-red
        ],
        hoverOffset: 4
      }]
    };

    const config = {
      type: 'doughnut',
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Calls Type Distribution'
          }
        }
      },
    };
  </script>

  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
